body {
    background-color: #0A0A23;
    color: #ffffff;
}

#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #5A01A7;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
}

#inputSection {
    background-color: #ffffff;
    color: black;
    width: min(100vh,450px);
    min-height: 100px;
    padding: 20px 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

#inputSection p {
    margin: 0;
}

